.dn {
	display: none;
}

.w500 {
	position: relative;
	width: 400px;
	margin: 0 auto;
}

.w800 {
	position: relative;
	width: 800px;
	margin: 0 auto;
}

.w1000 {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}

.w1140 {
	position: relative;
	width: 1140px;
	margin: 0 auto;
}

:root {
	--color--footer: #f5d4d4;
	--button--color: #aacb73;
	--little-color: #cde990;
	--card--color: #ffffe8;
}

@font-face {
	font-family: 'kakaoBig';
	src: url('/fonts/KakaoBig-normal-400-100_1.ttf') format('truetype');
}

@font-face {
	font-family: 'kakaoOTFReg';
	src: url('/fonts/KakaoOTFRegular.otf') format('opentype');
}

@font-face {
	font-family: 'kakaoReg';
	src: url('/fonts/KakaoRegular.ttf') format('truetype');
}

/* button_layout */

.border {
	border-radius: 5px;
}

.btn_box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}
